:root {
  /* Colors */
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  /* Font Sizes */
  /* 14px */
  --font-sm: 0.875rem;
  /* 18px */
  --font-md: 1.125rem;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: var(--font-sm);
  font-weight: 300;
  color: var(--grayishBlue);
  line-height: 1.3;
}

body.no-scroll {
  overflow-y: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: var(--grayishBlue);
  transition: color 300ms ease-in-out;
}

h1,
h2,
h3 {
  margin-top: 0;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.15;
}

h1 {
  font-size: 2.3125rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.container {
  max-width: 69.5625rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

.container--pl {
  padding-left: 1.5rem;
}

/* header */

.header {
  position: relative;
}

.header nav {
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  background-color: var(--white);
}

.header .header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: var(--darkBlue);
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}

.header .header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}

.header .header__links a {
  position: relative;
  font-size: var(--font-sm);
}

.header .header__links a:not(:last-child) {
  margin-right: 32px;
}

.header .header__links a:hover {
  color: var(--darkBlue);
}

.header .header__links a:hover::before {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.header .header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
  opacity: 0;
}

.header .header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

/* overlay */

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(var(--darkBlue), transparent);
}

.header .header__menu {
  background: var(--white);
  padding: 1.625rem;
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  margin-top: 1.5rem;
}

.header .header__menu a {
  display: block;
  padding: 0.625rem;
  text-align: center;
  color: var(--darkBlue);
}

/* Button */

button,
.button {
  padding: 1rem 1.875rem;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
  border: 0;
  font-weight: 700;
  color: var(--white);
  font-size: var(--font-sm);
  transition: opacity 300ms ease-in-out;
}

button:hover,
.button:hover {
  opacity: 0.75;
}

/* hero section */
.hero {
  background-color: var(--veryLightGray);
}
.hero .hero__image {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 46%;
  min-height: 17.5rem;
}

.hero .hero__image::after {
  content: "";
  position: absolute;
  height: 100%;
  background-image: url("/images/image-mockups.png");
  background-repeat: no-repeat;
  background-position: 50% 88%;
  width: 100%;
  background-size: 92%;
}

.hero .hero__text {
  text-align: center;
}

.hero .hero__text p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

/* feature section */

.feature {
  background-color: var(--lightGrayishBlue);
  text-align: center;
}

.feature .feature__content h2 {
  margin-bottom: 1.5625rem;
}

.feature .feature__intro {
  margin-bottom: 3.75rem;
}

.feature .feature__intro p {
  line-height: 1.5;
}

.feature .feature__grid .feature__item {
  padding: 0.9375rem;
}

.feature .feature__grid .feature__item .feature__icon {
  margin-bottom: 1.875rem;
}

.feature .feature__grid .feature__item .feature__title {
  font-size: 1.25rem;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.15;
  margin-bottom: 1rem;
}

.feature .feature__grid .feature__item .feature__desc {
  font-size: var(--font-sm);
  line-height: 1.5;
}

/* article section */

.article {
  background-color: var(--veryLightGray);
}

.article .article__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}

.article .article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
}

.article .article__image {
  height: 12.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.article .article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}

.article .article__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.article .article__title {
  font-size: var(--font-md);
  color: var(--darkBlue);
  margin-bottom: 0.625rem;
  line-height: 1.2;
}

.article .article__desc {
  font-size: var(--font-sm);
}

/* greater than equal to 1024px */
@media (min-width: 64em) {
  body {
    font-size: var(--font-md);
  }

  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .container--pt {
    padding-top: 4.375rem;
  }

  .container--pb {
    padding-bottom: 4.375rem;
  }

  .hide-for-desktop {
    display: none;
  }

  .hero .container {
    display: flex;
    align-items: center;
  }

  .hero .hero__image {
    flex: 3;
    order: 2;
    min-height: 40.9375rem;
    background-image: none;
  }

  .hero .hero__image::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 160%;
    background-size: 135%;
    background-position: 8% 60%;
  }

  .hero .hero__image::after {
    width: 120%;
    height: 122%;
    background-size: 91%;
    background-position: center 150%;
    left: 26%;
  }

  .hero .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
  }

  .feature {
    text-align: left;
  }

  .feature .feature__content h2 {
    margin-bottom: 2.25rem;
  }

  .feature .feature__intro {
    width: 60%;
  }

  .feature .feature__grid {
    display: flex;
    flex-wrap: wrap;
  }

  .feature .feature__grid .feature__item {
    flex: 1;
    padding-left: 0;
    padding-right: 1.5rem;
  }

  .feature .feature__grid .feature__item .feature__icon {
    margin-bottom: 2.75rem;
  }

  .feature .feature__grid .feature__item .feature__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .article .article__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .article .article__item:hover {
    transform: scale(1.05);
  }

  .article .article__text {
    padding: 1.875rem 1.5625rem;
  }
}

/* less than 1024px */
@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

/* animations */
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.has-fade {
  visibility: hidden;
}
